*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url('https://cutewallpaper.org/28/color-checker-desktop-wallpaper/1440819405.jpg');
}

.calculator{
  width: 100%;
}

td{
  text-align: center;
  border: 1px solid black;
}